PORT=5000
# Use MongoDB Atlas free cluster or local MongoDB
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/jobportal
# For Local MongoDB: mongodb://localhost:27017/jobportal
MONGO_URI=mongodb://localhost:27017/jobportal
JWT_SECRET=jobportal_secret_key_2026_super_secure
